@charset "utf-8";
// color----------*
$colorBlack: #363636;
$colorWhite: #ffffff;
$colorRed: #bc001d;
$colorGray: #959595;
// $colorOrange: #FAC7D4;

$colorBlue: #0080ff;
$colorYellow: #fcf64c;
$colorOrange: #eb880e;
$colorLiteOrange: #ebe9e0;
$colorGreen: #4FAC27;

$colorWaterBlue: #86B3E0;
$colorBlackText: #171717;


$colorLiteGray: #F2F2F2;
$colorLiteGray2: #d7d7d7;
$colorMain: #820010;