@charset "UTF-8";

/* ------------------------------
header
------------------------------*/
.otkr-nav-sp.lp7hdr {
    position: relative;
    background-image: url(../img/lp07/l7bg-otakaraya.png);
    background-color: #780000;
    background-size: cover;
    width: 100vw;
    z-index: -1;
}

.otkr-nav-sp.lp7hdr .lp7hdr--content {
    position: relative;
    justify-content: flex-end;
    padding: 3px 0;
}

.lp7-nav {
    display: flex !important;
    flex-direction: column !important;
    align-items: baseline !important;
    flex-wrap: wrap !important;
    width: 60% !important;
    height: auto !important;
    background: #fff !important;
}

.lp7-nav #otkr-nav-list {
    background: #fff !important;
    height: auto !important;
}

.lp7-nav .lp7-navlist {
    position: relative !important;
    max-width: 60% !important;
    margin: 60px 0 0 0 !important;
}

.lp7hdr .lp7hdr--content .lp7-tell {
    width: 50%;
    position: absolute;
    top: -4rem;
    left: 0;
}

.lp7-nav .lp7-navlist li {
    padding: 5px 0 !important;
    line-height: 2 !important;
}

.lp7-nav .lp7-navlist .lp7-navlist--detail {
    border-bottom: 1px solid #B40000 !important;
    margin-left: 5px !important;
}

.lp7-nav .lp7-navlist li a {
    color: #B40000 !important;
    font-weight: bold !important;
}

.lp7-nav .lp7-navlist .lp7menu-ttl {
    background: #B40000;
    color: #fff;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.lp7-nav .lp7-navlist .lp7-close a {
    max-width: 100% !important;
    margin-top: 0 !important;
    background-color: #646464 !important;
    color: #fff !important;
}

.lp7-nav .lp7-navlist .lp7-close a::after {
    color: #fff !important;
}

.otkr-nav-sp.lp7hdr .lp7hdr--namewrap {
    padding: 0 10px;
}

.otkr-nav-sp.lp7hdr .lp7hdr--namewrap .lp7hdr--logo {
    display: inline-flex;
}

.otkr-nav-sp.lp7hdr .lp7-menu {
    background-color: #fff;
    margin-right: 5px;
}

.otkr-nav-sp.lp7hdr .lp7-menu span {
    background-color: #780000;
}

.otkr-nav-sp.lp7hdr .lp7-menu .text::after {
    color: #780000;
}

.otkr-cmn-inner.lp7 {
    width: 100%;
    position: relative;
    z-index: 0;
}

.otkr-cmn-inner .catch-wrap {
    display: none;
}

.btn-shop {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: space-between;
}

.btn-shop>div {
    width: 30%;
    flex-grow: 1;
    margin: 2px auto;
}

.btn-shop>div>a {
    width: 100%;
    background: #C80000;
    color: #FFFF00;
    text-align: center;
    padding: 1%;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 10px;
    transition: all .3s;
}

.btn-shop>div>a>span {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

@media screen and (max-width:768px) {
    .otkr-nav-sp.lp7hdr .lp7hdr--logo img {
        width: 200px;
    }

    .otkr-cmn-inner .catch-wrap {
        display: block;
        position: absolute;
        top: 40px;
        left: 50px;
        background: #FF0000;
        box-shadow: 2px 2px 0 #fff;
        z-index: 2;
        width: 40%;
        height: 160px;
        border-radius: 20px;
    }

    .otkr-cmn-inner .catch-wrap .catch-ttl {
        display: inline-flex;
        align-items: baseline;
        position: absolute;
        top: -30px;
        left: 20px;
        font-size: 5rem;
        font-weight: 600;
        color: #FFFF00;
        text-shadow: 3px 3px 0 #FF0000;
        z-index: 2;
    }

    .otkr-cmn-inner .catch-wrap .catch-ttl .whiteS {
        position: relative;
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
        text-shadow: 2px 2px 0 #FF0000;
    }

    .otkr-cmn-inner .catch-wrap .catch-ttlS {
        width: 95%;
        position: absolute;
        top: 70px;
        left: 7px;
        font-size: 4rem;
        letter-spacing: 5px;
        font-weight: 600;
        color: #000;
        background: #fff;
        border-radius: 0 0 20px 20px;
        text-shadow: 2px 2px 0 #fff;
        padding: 1%;
        z-index: 2;
    }

    .otkr-cmn-inner .catch-wrap .catch-ttlS span {
        margin-left: 40px;
    }
}

@media screen and (max-width:460px) {
    .otkr-nav-sp.lp7hdr .lp7hdr--logo img {
        width: 134px;
        margin-left: 10px;
    }

    .otkr-cmn-inner .catch-wrap {
        top: 40px;
        left: 10px;
        width: 45%;
        height: 80px;
    }

    .otkr-cmn-inner .catch-wrap .catch-ttl {
        top: -30px;
        left: 10px;
        font-size: 3rem;
    }

    .otkr-cmn-inner .catch-wrap .catch-ttl .whiteS {
        font-size: 1rem;
    }

    .otkr-cmn-inner .catch-wrap .catch-ttlS {
        top: 30px;
        left: 5px;
        font-size: 2rem;
    }

    .otkr-cmn-inner .catch-wrap .catch-ttlS span {
        margin-left: 10px;
    }
}


/* ------------------------------
common
------------------------------*/
a[href^="tel:"] {
    pointer-events: none;
}

.pc-only {
    display: block;
}

.sp-only {
    display: none;
}

.container-lp7 {
    margin: 0 auto;
}

.pc-only {
    display: none;
}

.sp-only {
    display: block;
}

.container-lp7--center {
    margin: 0 auto;
    text-align: center;
}



/* ------------------------------
layout
------------------------------*/
.container_virustaisaku {
    background: #004097;
    padding: 5px;
}

.container_virustaisaku .ttl-virustaisaku {
    text-align: center;
    margin: 0 auto;
}

.container_virustaisaku .ttl-virustaisaku>img {
    width: 70%;
    margin-top: 14px;
}

/* swiper */

.container_virustaisaku .swiper {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    margin: 0 calc(50% - 50vw);
    padding: 3%;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container_virustaisaku .swiper::-webkit-scrollbar {
    display: none;
}

.container_virustaisaku .swiper .swiper-wrapper {
    width: 100%;
    height: 50px !important;
}

.container_virustaisaku .swiper .swiper-button-prev,
.container_virustaisaku .swiper .swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    margin-top: -10px;
}

.container_virustaisaku .swiper .swiper-button-next {
    background: url(../img/lp07/swipericon-arrow.png) no-repeat;
    width: 28px;
    height: 28px;
}

.container_virustaisaku .swiper .swiper-button-prev {
    background: url(../img/lp07/swipericon-arrow.png) no-repeat;
    width: 28px;
    height: 28px;
    transform: scale(-1, 1);
}

.container_virustaisaku .swiper .swiper-button-prev::after,
.container_virustaisaku .swiper .swiper-button-next::after {
    display: none;
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next::after {
    content: "prev";
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev::after {
    content: "next";
}

/* kuchikomi */
.container-lp7.kuchikomi {
    width: 100%;
    position: relative;
    z-index: 0;
    text-align: center;
}

.container-lp7.kuchikomi .kuchikomi-list {
    width: 90%;
    position: absolute;
    top: 60%;
    left: 28px;
    display: block;
    justify-content: center;
}

.container-lp7.kuchikomi .kuchikomi-list .kuchikomi-list_detail {
    margin: .8rem auto;
    background: #B40000;
    padding: 1%;
}

.container-lp7.kuchikomi .kuchikomi-list .kuchikomi-list_detail h2 {
    color: #fff;
    font-size: 1.4rem;
    text-align: left;
    font-weight: 600;
}

.container-lp7.kuchikomi .kuchikomi-list .kuchikomi-list_detail .kuchikomi-list_txt {
    background: #fff;
    padding: 1%;
}

.container-lp7.kuchikomi .kuchikomi-list .kuchikomi-list_detail .kuchikomi-list_txt p {
    font-size: 1.15rem;
    text-align: left;
}

@media screen and (min-width:960px) {
    .container-lp7.kuchikomi .kuchikomi-list {
        width: 50%;
        top: 60%;
        left: 50%;
        transform: translate(-50%);
    }

    .container-lp7.kuchikomi .kuchikomi-list .kuchikomi-list_detail {
        max-width: 690px;
    }

}

@media screen and (max-width:460px) {
    .container-lp7.kuchikomi .kuchikomi-list .kuchikomi-list_detail h2 {
        font-size: .8rem;
    }

    .container-lp7.kuchikomi .kuchikomi-list .kuchikomi-list_detail .kuchikomi-list_txt p {
        font-size: .8rem;
        line-height: 1;
    }
}

/* zisseki */
.container-lp7 .zisseki-wrap {
    position: relative;
    width: 100%;
    display: flex;
    gap: 5px;
    z-index: 0;
}

.container-lp7 .zisseki-wrap .zisseki-wrap_inner {
    position: relative;
    flex-grow: 1.5;
    padding: 1%;
}

.container-lp7 .zisseki-wrap .zisseki-wrap_inner::after {
    position: absolute;
    content: '';
    background: url(../img/lp07/zisseki_arrow.png)no-repeat;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    width: 103px;
    height: 44px;
}

.container-lp7 .zisseki-wrap .zisseki-wrap_inner h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #B40000;
    margin-bottom: 1rem;
    border-bottom: 1px solid #111;
}

.container-lp7 .zisseki-wrap .zisseki-wrap_inner p {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.container-lp7 .zisseki-wrap .zisseki-wrap_inner .zisseki-hikaku {
    display: flex;
    margin-left: 1rem;
    text-align: left;
}

.container-lp7 .zisseki-wrap .zisseki-wrap_inner .zisseki-hikaku>dt {
    flex-grow: 0.4;
    background: #000;
    padding: 1%;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    margin-right: .5rem;
}

.container-lp7 .zisseki-wrap .zisseki-wrap_inner .zisseki-hikaku>dd {
    flex-grow: 0.6;
    font-size: 2.4rem;
    color: #000;
    font-weight: 600;
}

.container-lp7 .zisseki-reason {
    width: 90%;
    position: relative;
    top: -4rem;
    background: #FFFF96;
    margin: 0 auto;
    padding: 1%;
    z-index: -1;
}

.container-lp7 .zisseki-reason h2 {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    color: #000;
}

.container-lp7 .zisseki-reason h2>.zisseli-redTxt {
    color: #FF0000;
}

.container-lp7 .zisseki-reason p {
    position: relative;
    font-size: 4rem;
    color: #FF0000;
    font-weight: 600;
    transform: scale(0.9, 1);
    text-align: center;
    margin-left: 4rem;
}

.container-lp7 .zisseki-reason p::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0.5rem;
    background: url(../img/lp07/zisseki_ttlbefore.png)no-repeat;
    width: 88px;
    height: 88px;
    z-index: 1;
}

.container-lp7 .zisseki-reason p>.zisseki-yen {
    font-size: 1.6rem;
    font-weight: 600;
    color: #FF0000;
}

.container-lp7.jisseki-list {
    margin: 10% auto;
}

.container-lp7 .gojitaku-wrap {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;

}

.container-lp7 .gojitaku-wrap .gojitaku-inner {
    flex-grow: 1;
    flex-basis: auto;
    margin-bottom: 20%;
}

.container-lp7 .gojitaku-wrap .gojitaku-inner>div {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container-lp7 .gojitaku-inner h3 {
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

.container-lp7 .gojitaku-inner p {
    position: absolute;
    top: 4rem;
    font-size: 1.6rem;
    transform: scale(0.7, 1);
    font-weight: 600;
    color: #B40000;
    margin-left: 0.6rem;
}

.container-lp7 .gojitaku-inner p::before {
    content: '';
    position: absolute;
    top: .7rem;
    left: -1.6rem;
    background: url(../img/lp07/zisseki_ttlbefore.png)no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
    z-index: 1;
}

.container-lp7 .gojitaku-inner p>.zisseki-yenS {
    font-size: 1rem;
    font-weight: 600;
    color: #FF0000;
}

@media screen and (min-width:960px) {
    .container-lp7 .zisseki-wrap {
        width: 50%;
        margin: 0 auto;
    }

    .container-lp7 .zisseki-wrap .zisseki-wrap_inner::after {
        top: 80%;
    }


    .container-lp7.pclayout.zisseki {
        margin: 0 auto;
        text-align: center;
    }

    .container-lp7.pclayout.zisseki img {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .container-lp7 .zisseki-reason {
        width: 50%;
        margin-top: 5%;
    }

}

@media screen and (max-width:460px) {
    .container-lp7 .zisseki-wrap .zisseki-wrap_inner {
        width: 60%;
        padding: 1%;
        text-align: center;
    }

    .container-lp7 .zisseki-wrap .zisseki-wrap_inner p {
        font-size: 1rem;
    }

    .container-lp7 .zisseki-wrap .zisseki-wrap_inner .zisseki-hikaku>dt {
        font-size: 1.4rem;
    }

    .container-lp7 .zisseki-wrap .zisseki-wrap_inner .zisseki-hikaku>dd {
        font-size: 1.6rem;
    }

    .container-lp7 .zisseki-wrap .zisseki-wrap_inner::after {
        background-size: contain;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        width: 51.5px;
        height: 22px;
    }

    .container-lp7 .zisseki-wrap .zisseki-wrap_img {
        width: 40%;
        position: relative;
    }

    .container-lp7 .zisseki-wrap .zisseki-wrap_img img {
        width: 100%;
        position: relative;
        top: 30%;
        right: -2rem;
    }

    .container-lp7 .zisseki-reason {
        height: auto;
        top: 1.2rem;
    }

    .container-lp7 .zisseki-reason h2 {
        font-size: 1.2rem;
    }

    .container-lp7 .zisseki-reason p {
        font-size: 3.2rem;
        margin-left: 4rem;
    }

    .container-lp7 .zisseki-reason p::before {
        background-size: contain;
        top: 22px;
        left: -40px;
        width: 44px;
        height: 44px;
    }

    .container-lp7.jisseki {
        margin-top: 10%;
    }
}

@media screen and (max-width:460px) {
    .container-lp7 .zisseki-reason p {
        font-size: 3rem;
    }

    .container-lp7 .gojitaku-inner p {
        font-size: 1.2rem;
    }

}

@media screen and (min-width:960px) {
    .container-lp7 .gojitaku-inner p {
        top: 2rem;
        font-size: 2.4rem;
        margin-left: 2rem;
    }

    .container-lp7 .gojitaku-inner p::before {
        top: 1.2rem;
        left: -3rem;
        width: 30px;
        height: 30px;
    }
}

/* omakase */
.container-lp7.omakase {
    position: relative;
    width: 100%;
    background: url(../img/lp07/bg-omakase.png) repeat-y;
    background-size: cover;
    padding: 1%;
    z-index: -1;
}

.container-lp7 .omakase-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    z-index: 0;
}

.container-lp7 .omakase-wrap .omakase-inner {
    display: inline-block;
    position: relative;
    background: #fff;
    z-index: 1;
}

.container-lp7 .omakase-wrap .omakase-inner>figcaption {
    position: relative;
    height: 30px;
    background: rgba(206, 206, 206, 0.5);
    color: #B40000;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-weight: 600;
    font-size: .8rem;
    text-align: center;
    padding: 4px 0;
    z-index: 2;
}

@media screen and (min-width:960px) {
    .container-lp7.omakase {
        width: 50%;
    }


}

/* sanko-soba */
.otkr-cmn-inner .soba-ttl,
.price-chart .soba-ttl,
#simulation .soba-ttl {
    margin: 1rem auto;
    text-align: center;
}

.otkr-cmn-inner .soba-ttl h2,
.price-chart .soba-ttl h2,
#simulation .soba-ttl h2 {
    font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', sans-serif;
    color: #000;
    font-size: 1.8rem;
    font-weight: 900;
}

.lp7table {
    width: 100%;
    border: 1px solid #666;
    table-layout: fixed;
}

.lp7table.table-pc {
    display: table;
}

.lp7table.table-sp {
    display: none;
}

.lp7table.table-pc tbody {
    width: 100%;
}

.lp7table .caption {
    width: 100%;
    background: #666;
    color: #fff;
    padding: 2%;
}

.lp7table .caption .caption-gold {
    margin-right: 10%;
}

.lp7table .caption .caption-date {
    margin-left: 5%;
}

.lp7table th {
    border: solid 1px #000;
    padding: 6px 6px;
    text-align: center;
    color: #fff;
}

.lp7table td {
    border: solid 1px #000;
    padding: 6px 6px;
    text-align: center;
    color: #000;
}

.lp7table .price {
    color: #000;
}

.lp7table .gap {
    color: #B40000;
}

.lp7table .bg_gold,
.rate-list .bg_gold {
    background: #AA0000;
}

.lp7table .bg_platinum,
.rate-list .bg_platinum {
    background: #B19C69;
}

.lp7table .bg_palladium {
    background: #B16969;
}

.lp7table .bg_silver,
.rate-list .bg_silver {
    background: #CF9C85;
}

@media screen and (max-width:768px) {
    .lp7table.table-pc {
        display: none;
    }

    .lp7table.table-sp {
        display: table;
    }
}

@media screen and (max-width:460px) {

    .otkr-cmn-inner .soba-ttl h2,
    .price-chart .soba-ttl h2 {
        font-size: 1.4rem;
    }

    .lp7table th {
        font-size: .8rem;
    }
}

/* rate-list */
.rate-list {
    display: block;
    padding: 1%;
}

.rate-list>details {
    position: relative;
    display: block;
    align-items: center;
    cursor: pointer;
    background: #AA0000;
    font-weight: 600;
    margin: 0 auto;
}

.rate-list details>summary::-webkit-details-marker {
    display: none;
}

.rate-list>details>summary {
    position: relative;
    display: block;
    padding: 10px 0;
    color: #fff;
}

.rate-list>details>summary::after {
    position: absolute;
    content: '';
    background: url(../img/lp07/qa_arrow.png)no-repeat;
    width: 35px;
    height: 20px;
    top: 14px;
    left: 90%;
    display: block;
}

.rate-list .bg_goldrate {
    background: #fff;
    border: 1px solid #AA0000;
    color: #111;
}

.rate-list .bg_goldrate dl {
    border: 1px solid #AA0000;
    margin: 0;
}

.rate-list .bg_platinumrate {
    background: #fff;
    border: 1px solid #B19C69;
    color: #111;
}

.rate-list .bg_platinumrate dl {
    border: 1px solid #B19C69;
    margin: 0;
}

.rate-list .bg_silverrate {
    background: #fff;
    border: 1px solid #CF9C85;
    color: #111;
}

.rate-list .bg_silverrate dl {
    border: 1px solid #CF9C85;
    margin: 0;
}

@media screen and (min-width:960px) {

    .lp7table .bg_gold,
    .rate-list .bg_gold {
        padding: 2%;
    }

    .rate-list .bg_goldrate dl {
        padding: 2%;
    }

    .lp7table .bg_platinum,
    .rate-list .bg_platinum {
        padding: 2%;
    }

    .rate-list .bg_platinumrate dl {
        padding: 2%;
    }

    .lp7table .bg_silver,
    .rate-list .bg_silver {
        padding: 2%;
    }

    .rate-list .bg_silverrate dl {
        padding: 2%;
    }
}

/* rategraph */
.form-control.lp7 {
    width: 40%;
    border: 1px solid #B40000;
    border-radius: 5px;
    margin-left: 10px;
}

@media screen and (min-width:960px) {
    .lp7-chart {
        width: 50%;
        margin: 0 auto;
    }

    .lp7-graph {
        width: 50%;
        margin: 0 auto;
    }
}


/* simulation */
.gold_simulation.lp7-ver {
    width: 100%;
    background: rgba(171, 0, 0, 0.3);
    padding: 3%;
}

.gold_simulation.lp7-ver .simulation_box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.gold_simulation.lp7-ver .simulation_box .select_arrow {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    color: #666;
    position: relative;
}

.gold_simulation.lp7-ver .select_arrow p {
    background: #AA0000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 15px 2px;
    display: flex;
    align-items: center;
    margin: 0;
}

#simulation_select.lp7-select {
    width: 100%;
    border: 1px solid #AA0000;
    padding: 3%;
}

.gold_simulation.lp7-ver .simulation_box .lp7-simulationarrow {
    font-size: 50px;
    line-height: 1;
    color: #AA0000;
    margin: 0 10px;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.gold_simulation.lp7-ver .simulation_box .lp7-simulationarrow span {
    width: 36px;
    height: 36px;
    margin: 0;
    position: relative;
}

.gold_simulation.lp7-ver .simulation_box .lp7-simulationarrow span::before {
    content: "";
    display: block;
    width: 5px;
    height: 30px;
    top: 50%;
    left: 50%;
    background: #AA0000;
    position: absolute;
    transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.gold_simulation.lp7-ver .simulation_box .lp7-simulationarrow span::after {
    content: "";
    display: block;
    width: 5px;
    height: 30px;
    top: 50%;
    left: 50%;
    background: #AA0000;
    position: absolute;
    transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.gold_simulation.lp7-ver .simulation_box .lp7-weight {
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    color: #666;
    position: relative;
}

.gold_simulation.lp7-ver .simulation_box .lp7-weight input {
    width: 120px;
    background: #fff;
    border: 1px solid #AA0000;
    padding: 3%;
}

.gold_simulation.lp7-ver .simulation_box .lp7-weight .title {
    background: #AA0000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 15px 2px;
    display: flex;
    align-items: center;
    margin: 0;
}

.gold_simulation.lp7-ver .simulation_box .lp7-weight .unit {
    font-size: 14px;
    line-height: 1;
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
    color: #666;
    font-weight: bold;
}

.gold_simulation.lp7-ver .under_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

.gold_simulation.lp7-ver .under_box .symbol {
    font-size: 50px;
    line-height: 1;
    color: #AA0000;
    margin: 0 10px;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.gold_simulation.lp7-ver .under_box .symbol .equal {
    width: 36px;
    height: 36px;
    position: relative;
    border-radius: 100%;
    margin: 0;
}

.gold_simulation.lp7-ver .under_box .symbol .equal::before {
    content: '';
    display: block;
    width: 5px;
    height: 25px;
    background: #AA0000;
    position: absolute;
    transform: translate(45deg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%)rotate(90deg);
}

.gold_simulation.lp7-ver .under_box .symbol .equal::after {
    content: '';
    display: block;
    width: 5px;
    height: 25px;
    background: #AA0000;
    position: absolute;
    transform: translate(45deg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) rotate(-90deg);
}

.gold_simulation.lp7-ver .under_box .inputbox {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    color: #666;
    position: relative;
}

.gold_simulation.lp7-ver .under_box .inputbox .title {
    background: #AA0000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 15px 2px;
    display: flex;
    align-items: center;
    margin: 0;
}

.gold_simulation.lp7-ver .under_box .inputbox .boxstyle {
    width: 150px;
    border: 2px solid #AA0000;
    padding: 10px 20px 10px;
    text-align: right;
    background: #fff;
    display: flex;
    align-items: center;
    appearance: none;
    white-space: nowrap;
    border-radius: 0;
}

.gold_simulation.lp7-ver .under_box .inputbox .unit {
    font-size: 14px;
    line-height: 1;
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
    color: #666;
    font-weight: bold;
}

#simulation .detail-call {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    padding: 1%;
}

@media screen and (min-width:960px) {
    .gold_simulation.lp7-ver .simulation_box {
        width: 50%;
        margin: 0 auto;
    }

    .gold_simulation.lp7-ver .under_box {
        width: 50%;
        margin: 30px auto;
    }

}

/* qa */
.container-lp7.qa {
    margin: auto;
    padding: 0 5%
}

.container-lp7.qa>img {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container-lp7.qa .qa-wrap .qa-box {
    position: relative;
    border: 1px solid #000;
}

.container-lp7.qa .qa-wrap .qa-box p {
    padding: 2%;
    text-align: left;
}

.container-lp7.qa .qa-wrap .qa-box>summary {
    background: #B40000;
    padding: 1%;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #000;
    display: block;
    text-align: left;
    padding-left: 5rem;
    box-shadow: .5px .5px .5px .5px #000;
}

.container-lp7.qa .qa-wrap .qa-box>summary::after {
    position: absolute;
    content: '';
    background: url(../img/lp07/qa_arrow.png)no-repeat;
    width: 35px;
    height: 20px;
    top: 14px;
    left: 90%;
    display: block;
}

.container-lp7.qa .qa-wrap .qa-box>summary>p {
    padding-left: 5rem;
}

.container-lp7.qa .qa-wrap .qa-box .qa-inner_08,
.container-lp7.qa .qa-wrap .qa-box .qa-inner_10 {
    padding: 4% 4% 4% 5rem;
}

.container-lp7.qa .qa-wrap>.qa-box>summary::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 50px;
    top: 5px;
    left: 6px;
    display: block;
}

.container-lp7.qa .qa-wrap .qa-inner_01::before {
    background: url(../img/lp07/qa01.png)no-repeat;
}

.container-lp7.qa .qa-wrap .qa-inner_02::before {
    background: url(../img/lp07/qa02.png)no-repeat;
}

.container-lp7.qa .qa-wrap .qa-inner_03::before {
    background: url(../img/lp07/qa03.png)no-repeat;
}

.container-lp7.qa .qa-wrap .qa-inner_04::before {
    background: url(../img/lp07/qa04.png)no-repeat;
}

.container-lp7.qa .qa-wrap .qa-inner_05::before {
    background: url(../img/lp07/qa05.png)no-repeat;
}

.container-lp7.qa .qa-wrap .qa-inner_06::before {
    background: url(../img/lp07/qa06.png)no-repeat;
}

.container-lp7.qa .qa-wrap .qa-inner_07::before {
    background: url(../img/lp07/qa07.png)no-repeat;
}

.container-lp7.qa .qa-wrap .qa-inner_08 {
    padding: 10%;
}

.container-lp7.qa .qa-wrap .qa-inner_08::before {
    background: url(../img/lp07/qa08.png)no-repeat;
}

.container-lp7.qa .qa-wrap .qa-inner_09::before {
    background: url(../img/lp07/qa09.png)no-repeat;
}

.container-lp7.qa .qa-wrap .qa-inner_10::before {
    background: url(../img/lp07/qa10.png)no-repeat;
}

@media screen and (min-width:960px) {

    .container-lp7.qa .qa-wrap .qa-box>summary::after {
        top: 18px;
        left: 90%;
    }

    .container-lp7.qa .qa-wrap>.qa-box>summary::before {
        top: 10px;
    }

    .container-lp7.qa .qa-wrap .qa-box .qa-inner_08,
    .container-lp7.qa .qa-wrap .qa-box .qa-inner_10 {
        padding: 2% 2% 2% 5rem;
    }

    .container-lp7.qa {
        width: 80%;
        margin: 0 auto 10px;
        text-align: center;
    }

    .container-lp7.qa>img {
        width: 30%;
    }

}

/* other buy */

.container-lp7.other {
    position: relative;
    width: 100%;
    background: url(../img/lp07/bg-other.png)no-repeat;
    background-size: cover;
    padding: 1%;
    z-index: -1;
}

.container-lp7.other img {
    width: 60%;
    margin: 0 auto;
}

.container-lp7.other .other-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.container-lp7.other .other-wrap .other-inner {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.container-lp7.other .other-wrap .other-inner img {
    width: 50%;
    text-align: left;
    margin-left: 0;
}

.container-lp7.other .other-wrap .other-inner figcaption {
    width: 50%;
    position: relative;
    color: #AA0000;
    font-weight: bold;
    font-size: 12.5px;
    text-align: left;
}

.container-lp7.other .other-wrap .other-inner figcaption::after {
    position: absolute;
    width: 10px;
    height: 15px;
    top: 50%;
    left: 90%;
    transform: translate(-50%);
    content: '';
    background: url(../img/lp07/other_arrow.png)no-repeat;
    background-size: contain;
}

@media screen and (min-width:960px) {
    .container-lp7.other {
        width: 30%;
    }
}

@media screen and (max-width:768px) {
    .container-lp7.other {
        width: 80%;
    }

}

/* ------------------------------
footer
------------------------------*/
.otkr-footer.lp7-ftr {
    background: url(../img/lp07/bg-ftrlp07.png)no-repeat center #820010 !important;
    background-size: cover !important;
}